* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body {
    background-color: #222;
    min-height: 65vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card h2 {
    padding: 10px;
    margin-bottom: 10px;
}

.card {
    width: 90%;
    max-width: 470px;
    background: linear-gradient(125deg, #8c4d4d, #a7a4a7);
    color: #fff;
    margin: 100px auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    margin-top: 35px;
}

.search {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search input {
    border: 0;
    outline: 0;
    background: #ebfffc;
    color: #555;
    padding: 10px 20px; 
    height: 50px; 
    border-radius: 25px; 
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
}

.search button {
    border: 0;
    outline: 0;
    background: #ebfffc;
    border-radius: 50%;
    width: 50px; 
    height: 50px; 
    cursor: pointer;
}

.search button img {
    width: 14px;
    margin-top: 6px;
}

.weather-icon {
    width: 150px; 
    margin-top: 30px;
}

.weather h1 {
    font-size: 70px;
    font-weight: 500;
}

.weather h2 {
    font-size: 40px; 
    font-weight: 400;
    margin-top: -10px;
}

.details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}

.col {
    display: flex;
    align-items: center;
    text-align: left;
}

.col img {
    width: 30px;
    margin-right: 10px;
    height: 30px;
}

.humidity,
.wind {
    font-size: 24px; 
    margin-top: -4px; 
}

.weather {
    display: none;
}

.error {
    text-align: left;
    margin-left: 10px;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}